.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: .25s;

}


.acordeon.open,
.acordeon:hover {
    background-color: #55569E;
    border-color: #55569E;
}

.acordeon .trigger {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: 1.5rem;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    border: none;
    text-align: left;


}

.acordeon h2 {
    margin: 0;
    font-size: 1.5rem;

}

.acordeon h3 {
    margin: 0;
    font-size: 1.5rem;
    
}

.acordeon .trigger:hover {
    cursor: pointer;

}



.adordeon .trigger::after {
    content: '';
    display: inline-block;
    position: relative;


}
.acordeon .trigger::after {
    content: '';
    display: inline-block;
    position: relative;
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./assets/img/icons/button.svg');
    transition: .50s;
    

}


.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transform: .25;
    transition: .25s;
    
}

.acordeon.open .content{
    display: block ;
    padding: o 1rem 1rem 1rem;
    height: auto;
    opacity: 1;
}